<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.caldremch.democommom">


    <application
        android:name=".DemoCommonApp"
        android:label="通用框架"
        android:supportsRtl="true"
        android:icon="@mipmap/common_app_icon"
        android:roundIcon="@mipmap/common_app_icon"
        android:theme="@style/AndroidCommonTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
